:root{
--primary-color: #2B4E87;
--secondary-color: #A8DCF0;
--accent1-color:  #FFB55C;
--accent2-color: #092251;
--heading-font: "Fugaz One", sans-serif;
--body-font: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header, main, footer{
    width: 1000px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none; /*removes underlines on hyperlinks*/
}

/*header and nav*/
header{
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    max-width: 1fr;
    border-bottom: 1px solid var(--primary-color);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--accent2-color);
}

header nav a{
    text-decoration: none;
    text-align: center;
    color: white;
}

header img {
    width: 200px;
    height: auto;
    justify-self: center;
}

/* div element overlay*/
.hero {
    position: relative;
}

.hero img { 
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.8;
    text-align: center;
    background-color: white;
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 0.1rem;
    left: -1rem;
    width: 100%;
    opacity: 0.8;
    padding: 10px;
    text-align: left;
    background-color: var(--accent2-color);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid var(--secondary-color);
}

/*Sections*/
/* History Section */
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--accent1-color);
}

.history h2 {
    grid-column: 1 / span 3;
    text-align: center;
    margin: 0.5rem;
    border-bottom: 1px solid var(--primary-color);

}

.history img {
    width: 300px;
    height: auto;
    justify-self: center;
    box-shadow: 0 0 15px gray;
    margin: 0.5rem;
}

/* Adventure Section */
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.adventure h2 {
    grid-column: 1 / span 5;
    text-align: center;
    margin: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
}

.adventure img{
    width: 200px;
    height: auto;
    margin: 0.5rem;
}

.adventure figure{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-style: italic;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px dotted var(--primary-color);
}

footer p {
    grid-column-start: 2;
}

footer nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

footer nav img {
    width: 40px;
    height:auto;
}



