:root {
    --primary-color: #2B4E87;
    --secondary-color: #A8DCF0;
    --accent1-color: #FFB55C;
    --accent2-color: #092251;
    --heading-font: "Fugaz One", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav {
    margin: 0;
}

nav,
img {
    border-radius: 0.6em;
}


.socialmedia a {
    text-decoration: none;
    /*removes underlines on hyperlinks*/
}

/*header and nav*/
header {
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: var(--accent2-color);
    border-radius: 0.6em;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--accent2-color);
}

header nav a {
    text-decoration: none;
    text-align: center;
    color: white;
}

header img {
    width: 100px;
    height: auto;
    justify-self: center;
}

/* div element overlay*/
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.6em;
}

#homebook {
    background-color: transparent;
    opacity: 1;
}

#homebook p {
    text-align: center;
    color: #ffff;
    font-size: 40px;
    font-family: var(--heading-font);
    text-shadow: 0 0 15px var(--accent2-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.8;
    text-align: center;
    background-color: white;
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 0.1rem;
    left: -1rem;
    width: 100%;
    opacity: 0.8;
    padding: 10px;
    text-align: left;
    background-color: var(--accent2-color);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid var(--secondary-color);
}

/*Sections*/
/* History Section */
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: var(--accent1-color);
    margin: 1em auto;
}

.history h2 {
    grid-column: 1 / span 3;
    text-align: center;
    margin: 0.5rem;
    border-bottom: 1px solid var(--primary-color);

}

.history img {
    width: 300px;
    height: auto;
    justify-self: center;
    box-shadow: 0 0 15px gray;
    margin: 0.5rem;
}

/* Adventure Section */
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background-color: var(--secondary-color);
    margin: 1em auto;
}

.adventure h2 {
    grid-column: 1 / span 5;
    text-align: center;
    margin: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
}

.adventure img {
    width: 180px;
    height: auto;
    margin: 0.5rem;
}

.adventure figure {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-style: italic;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 0.6em;
}

footer p {
    grid-column-start: 2;
}

footer nav {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    align-items: center;
}

footer nav img {
    width: 30px;
    height: auto;
    grid-column: 1 / span 2;
    justify-self: center;
    box-shadow: 1px 3px 5px var(--accent2-color);
}

/*Contact page*/
.compinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    text-align: left;
    margin-top: 6.1em;
}

.compinfo h1 {
    grid-column: 1 / span 2;
    text-align: center;
    justify-self: center;
    margin: 1.8em auto;
    padding: 0.5em;
    font-size: 2.1rem;
}

.compinfo p {
    font-style: italic;
    font-size: larger;
}

.compinfo h4 {
    margin-left: 1.5rem;
    font-size: 1.5rem;
}


iframe {
    width: 600px;
    height: 250px;
    border: 0;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 0.5em;
    margin: 1em auto;
    text-align: center;
}

.team img {
    width: 200px;
    height: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 20px var(--accent2-color);
}

.team img:hover {
    transform: scale(1.1);
}

.team figcaption {
    font-size: large;
    font-style: italic;
}

.userask h2 {
    text-align: center;
    font-size: 2.1rem;
    margin: 1rem;
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 1.5px solid var(--primary-color);
    box-shadow: 0 0 15px var(--accent2-color);
    border-radius: 0.7em;
    display: grid;
}

fieldset {
    display: grid;
    margin: 0.5rem;
    padding: 1rem;
    border: 1.5px solid var(--primary-color);
}

legend {
    font-family: var(--heading-font);
    font-size: large;
    padding: 0.5rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
textarea {
    margin: 0.3rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

.form-item {
    display: grid;
    align-items: center;
}

.columns1 {
    grid-template-columns: 1fr 3fr
}

.coulmns2 {
    grid-template-columns: 1fr 1fr 1fr;
}

#gen {
    grid-column-start: 1;
    place-items: center;
}

#res {
    grid-column-start: 2;
    place-items: center;
}

#sug {
    grid-column-start: 3;
    place-items: center;
}

#mess {
    grid-column: 1 / span 3;
}

.toalign {
    text-align: center;
    align-items: center;
    padding: 0.3em;
}

button {
    margin: 1rem;
    background-color: var(--accent2-color);
    color: #F0F2FA;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    font-family: var(--heading-font);

}

button:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

a {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    text-decoration: none;
    text-align: center;
    align-self: center;
    color: var(--accent2-color);
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.6em;
    font-family: var(--heading-font);

}

a:hover {
    transform: scale(1.1);
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

#wireframe {
    grid-column-start: 1;
    grid-column-end: 3;
}

.tabs svg {
    width: 24px;
    height: 24px;
    align-self: baseline;
    color: var(--accent2-color);
    fill: var(--accent1-color);
}

/*Form button overlay - Home Page*/
.tripbook {
    border: none;
    box-shadow: 0 0 0 transparent;
    width: 400px;
    opacity: 100%;
}

.tripbook button {
    font-size: 2.5rem;
    box-shadow: 0 0 20px var(--accent2-color);
}

#homeoverlay {
    display: grid;
    grid-template-columns: 1fr 0.5fr 2fr 2fr;
    margin: 1em;
}

#homeoverlay h2 {
    position: absolute;
    top: 170px;
    width: 100%;
    padding: 0.3em;
    text-align: right;
    font-size: 2.5rem;
    grid-column-start: 2;
}

#homeoverlay img {
    justify-content: left;
    width: 500px;
    grid-column-start: 1;
    grid-row: 1 / span 2;
    box-shadow: 0 0 20px var(--accent2-color);
}

#homeoverlay article {
    bottom: 150px;
    grid-column-end: 5;
    width: 660px;
    height: 200px;
    margin-left: 300px;
    border-radius: 0.6em;
    background-color: var(--primary-color);
    text-align: center;
    opacity: 0.9;
    padding: 2em;
    box-shadow: 0 0 20px #ffff;
}

#homeoverlay button {
    position: absolute;
    top: 470px;
    left: 490px;
    font-size: 2rem;
    padding: 0.3em;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

/* Trips Page */
.trips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #ffff;
    grid-gap: 0.2em;
    margin-top: 3em;
}

#tripsheader h1{
    margin-top: -80px;
    font-size: 2em;
    padding: 0;
}

.activity{
    border-radius: 0.6em;
    padding: 1.5em;
    justify-self: center;
    align-self: center;
}

.activity img{
    width: 250px;
    box-shadow: 0 0 14px var(--accent2-color);
}

.activity img:hover{
    transform: scale(1.05);
}

.activity figcaption h2{
    font-size: 2em;
}

#actone{
    background-color: var(--accent2-color);
}

#actone img, #actthree img{
    box-shadow: 0 0 14px var(--secondary-color);
}

#actone h2, #actthree h2{
    color: #ffff;
}

#acttwo{
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

#actthree{
    background-color: var(--primary-color);
}


/* Table Styling*/
table {
    justify-self: center;
    border-radius: 0.6em;
    overflow: hidden;
}

thead {
    background-color: var(--accent1-color);
}

th,
td {
    border: 0.5px solid var(--primary-color);
    padding: 8px 10px;
}

td:last-child {
    margin-left: 10px;
}