:root{
    --main-color: #280029;
    --border: 2px solid rgba(40, 0, 41, 0.5);
    --align-text: center;
    --padding: 1rem;
}

nav {
    background-color: var(--main-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--main-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);
}

main {
    max-width: 800px;
}

aside{
    width: 40rem;
    margin: 2rem;
    border: var(--border);
    padding: 1.4rem;
    background-color: #F6F5FF;
    color: var(--main-color);
    text-align: var(--align-text);
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 10px;
    border-top: var(--border);
    text-align: var(--align-text);
}